
.child{
    position: absolute;
    display: none;
}
.tel:hover .child{
    display: block;
    animation: slide-up .5s ease;
}
@keyframes slide-up{
    from{
        opacity: 0;
        transform: translateY(10px);
    }
    to{
        display: block;
        opacity: 1;
        position: absolute;
        transform: translateY(0);
    }
}